$font: "Arial", sans-serif;

.info {
  height: 985px;
  padding-top: 1px;

  background-color: #f8fafa;
}

.info-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 126px;
}

.title {
  display: flex;
  justify-content: center;
  // margin-left: 22px;

  font-weight: 700;
  font-size: 38px;
  line-height: 0.737;
  font-family: "Montserrat", $font;
  color: rgba(0, 0, 0, 0.902);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.subtitle {
  margin-top: 11px;

  font-size: 18px;
  line-height: 1.556;
  font-family: "Merriweather", $font;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.about {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 140px auto 0 auto;
}

.about-image {
  margin-left: 40px;
}

.about-text--wrapper {
  max-width: 476px;
}

.about-header {
  margin-bottom: 17px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Merriweather", $font;
  color: rgba(0, 0, 0, 0.749);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about-text {
  font-size: 16px;
  line-height: 1.75;
  font-family: "Raleway", $font;
  color: rgba(0, 0, 0, 0.741);
  letter-spacing: 0.8px;
}

.about-text--wrapper .about-text:nth-child(3) {
  margin-top: 28px;
}

.header--little {
  margin-top: 30px;
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 1.647;
  font-family: "Merriweather", $font;
  color: rgba(0, 0, 0, 0.749);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media (max-width: 1200px) {
  .about-image {
    margin-left: 0;
  }
}

@media (max-width: 930px) {
  .about-image {
    display: none;
  }

  .about-text--wrapper {
    margin: 0 auto;
  }

  .about-header, .header--little {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .header-text {
    margin-top: 120px;
  }
  .about-text--wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}
