$font: "Arial", sans-serif;

.info {
  height: 985px;
  padding-top: 1px;

  background-color: #f8fafa;
}

.info-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 126px;
}

.title {
  display: flex;
  justify-content: center;
  margin-left: 22px;

  font-weight: 700;
  font-size: 38px;
  line-height: 0.737;
  font-family: "Montserrat", $font;
  color: rgba(0, 0, 0, 0.902);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.subtitle {
  margin-top: 11px;

  font-size: 18px;
  line-height: 1.556;
  font-family: "Merriweather", $font;
  text-align: center;
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  padding-right: 13%;
  padding-left: 16%;
}

.about-text--wrapper {
  max-width: 476px;
}

.about-header {
  margin-bottom: 17px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Merriweather", $font;
  color: rgba(0, 0, 0, 0.749);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.about-text {
  font-size: 16px;
  line-height: 1.75;
  font-family: "Raleway", $font;
  color: rgba(0, 0, 0, 0.741);
  letter-spacing: 0.8px;
}

.about-text--wrapper .about-text:nth-child(3) {
  margin-top: 28px;
}

.header--little {
  margin-top: 30px;
  margin-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 1.647;
  font-family: "Merriweather", $font;
  color: rgba(0, 0, 0, 0.749);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
