$font: "Arial", sans-serif;
.footer {
  min-height: 315px;
  padding-top: 1px;

  background-color: #262b2e;
}

.follow-us {
  max-width: 205px;
  margin: 86px auto 0 auto;
}

.follow-us--title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 1.563;
  font-family: "Raleway", $font;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}

.follow-us--container {
  display: flex;
  justify-content: space-between;
}

.follow-us--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 40px;

  transition: 0.5s;

  &:hover {
    background-color: #6eeee4;
  }
}

@media (max-width: 1024px) {
  .footer {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .follow-us {
    margin: 0;
  }
}
