$font: "Arial", sans-serif;

* {
  box-sizing: border-box;
}

.team {
  height: 1124px;
}

.team-chapter {
  margin-top: 98px;
  margin-right: 19px;
}

.team-subtitle {
  letter-spacing: 0.5px;
  margin-left: 17px;
  margin-bottom: 114px;
}

.item-info {
  width: 335px;
  height: 241px;
  background-color: #6ff6eb;
  opacity: 0.98;
  box-shadow: 0px 7px 16px 0px rgba(20, 20, 21, 0.18);
  position: absolute;
  left: 17px;
  top: 183px;
  z-index: 5;
  padding: 37px 41px 38px 39px;
  opacity: 0;
  transition: all 1s ease;
}

.italic {
  font-family: "Merriweather", $font;
  text-transform: none;
  font-size: 10px;
  font-style: italic;
  //   text-decoration: underline;
  letter-spacing: 1px;
  font-size: 15px;
}

.item-info--header {
  margin-bottom: 13px;
}

.item-info--text {
  margin-top: 1px;
  line-height: 0.7;
  line-height: 1.6;
  letter-spacing: 1px;
}

.social {
  display: flex;
  margin-top: 33px;
  width: 86px;
  justify-content: space-between;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 20px solid #6ff6eb;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  left: 39px;
  top: 163px;
  z-index: 5;
  opacity: 0;
  transition: all 1s ease;
}

.item:hover {
  .triangle {
    opacity: 1;
  }
  .item-info {
    opacity: 1;
  }
}
