$font: "Arial", sans-serif;
.works {
  height: 1166px;
  background-color: #ffffff;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
}

.works-title {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;
  margin-left: 42px;
}

.works-header {
  font-size: 38px;
  font-family: "Montserrat", $font;
  color: rgba(0, 0, 0, 0.902);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.737;
  letter-spacing: 1.7px;
}

.works-text {
  font-size: 17px;
  font-family: "Merriweather";
  color: rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  line-height: 1.647;
  text-align: center;
  margin-top: 11px;
  letter-spacing: 1.2px;
  margin-right: 42px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1140px;
  margin: 115px auto;
  grid-gap: 13px;
}

.item {
  justify-self: center;
}
