$font: "Arial", sans-serif;

.works {
  min-height: 1166px;
  padding-top: 1px;

  background-color: #ffffff;
}

.works-chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 126px;
  // margin-left: 20px;
}

.works-title {
  margin-right: 1px;

  letter-spacing: 1.8px;
  text-align: center;
}

.works-subtitle {
  // margin-right: 21px;
  margin-bottom: 115px;

  letter-spacing: 0.6px;
}

.items {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;

  column-gap: 13px;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 13px;
}

.item {
  position: relative;

  justify-self: center;
  width: 100%;
}

.work-item {
  cursor: pointer;

  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

@media (max-width: 1200px) {
  .items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 13px;
  }
}

@media (max-width: 780px) {
  .items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 13px;
  }
}
